:root {
    --couleur-lien-primaire: #D77874;
    --couleur-secondaire: #79BEC6;
    --couleur-claire-primaire: #D8E4DD;
    --couleur-sombre-primaire: #322A1E;
    --couleur-sombre-secondaire: #824230;
    --couleur-claire-secondaire: #fff;  
}
main:before {content: "2024"; background-color: rgba(255, 255, 255, 0.479);}
