:root{
    /*surcharge flexbox
    --gutter-width: 16px;
    --outer-margin: 32px;
    --gutter-compensation: calc((var(--gutter-width) * 0.5) * -1);
    --half-gutter-width: calc((var(--gutter-width) * 0.5));
    --xs-min: 0rem;
    --sm-min: 576px;
    --md-min: 768px;
    --lg-min: 992px;
    --xl-min: 1200px;
*/
    
    --couleur-lien-primaire: #f6898c;
    --couleur-secondaire: #7cb2ba;
    --couleur-claire-primaire: #f6898c;
    --couleur-sombre-primaire: #21211f;
    --couleur-claire-secondaire: #fff;
    --couleur-ombre: #0000002b;
    --a-decalage: 0.25rem;
    --radius: 1rem;
    --marge: 1.5rem;
}


body{
    font-family: Raleway, Poppins, sans-serif;
    color: var(--couleur-sombre-primaire);
    margin: 0;
    background-color: var(--couleur-claire-primaire);
    font-size: 1.35rem;
    letter-spacing: 0.015rem;
    line-height: 125%;
}

header {background-color: var(--couleur-claire-primaire); color: var(--couleur-sombre-primaire); font-weight: normal;}
header a {color: var(--couleur-sombre-primaire);}
/* header, main, footer {display: flow-root;} */

h1,h2,h3,h4,h5,h6{color: var(--couleur-sombre-primaire); font-family: Sigmar, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

figure {margin:0; padding: 0;}
/* .wrapper {width:70rem; margin: 0 auto;} cf. container de flexboxgrid */



a:not(:has(img),.sociaux__link) {color: var(--couleur-lien-primaire); text-decoration: underline 3px;}
a:not(:has(img),.sociaux__link):hover {
    color:#fff;
    background-color: var(--couleur-sombre-primaire);
    text-decoration: none;
    padding-left:var(--a-decalage);
    padding-right:var(--a-decalage);
    margin-left: calc(var(--a-decalage) * -1);
    margin-right: calc(var(--a-decalage) * -1);
}

/* Ne pas mélanger card et col-x */
.card {
    background-color: var(--couleur-claire-secondaire);
    border-radius: var(--radius);
    overflow: auto; /* Pour les images */
    box-shadow: 0 0 2rem var(--couleur-ombre);
    transform: scale(100%);
    transition: transform 0.25s ease-in-out;
    margin-bottom: 1rem;
}
.card:hover {
    transform: scale(105%);
    transition: transform 0.25s ease-in-out;
}

.card-image {
    padding: 0;
    width: 100%;
    height: auto;
}

.card-titre {
    padding: var(--marge) var(--marge) 0 var(--marge); margin: 0;
}

.card-texte {
    padding: 1rem var(--marge) var(--marge); margin: 0;
    font-size: smaller;
}
.card-texte time {
    display: block;
    color: var(--couleur-sombre-secondaire);
    font-size: 1.5rem;
    font-family: 'Bebas Neue','Courier New', Courier, monospace;
}
time {
 

}
i.calendrier {
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.5rem;
}
i.calendrier svg {width: 1.25rem; height: auto;}
.card-texte  i.calendrier svg path {fill: var(--couleur-sombre-secondaire);}


.fiche {
    background-color: var(--couleur-claire-secondaire);
    border-radius: var(--radius);
    margin-bottom: 2rem;
    padding: var(--marge);
}

.fiche-image {
    padding: 0;
    width: 100%;
    height: auto;
}

.items {
    font-size: smaller;
}

.items a {text-decoration: underline 2px;}
.fiche .sociaux {margin-top: 2rem;}
.fiche .sociaux__list {justify-content: right;}
.fiche .sociaux .socicon {font-size: 1rem;}

@media only screen and (min-width: 65rem) {
    .fiche-titre {
        margin-left: -25%;
        background: #fff;
        padding: 1.5rem;
        margin-top: 0;
    }
    .fiche-image {display: none;}
    .fiche-image-bg {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: 100%;
    }

}