<section>
    <div class="container">
    <h2>edito</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis minus porro dolorem saepe quod similique laboriosam architecto! Odit quas facilis officia aspernatur placeat tempora quisquam laudantium ab veniam illo. Tempore!</p>
    </div>
</section>

<section>
    <div class="container wow fadeInLeftBig" data-wow-delay="0.5s">
        <h2>actu</h2>
        <div class="row">

            <article class="col-sm-6 col-lg-4">
                <div class="card">
                    <a href="#"><img class="card-image" src="#CHEMIN{images/test.jpg}" alt="test"></a>
                    <h3 class="card-titre"><a href="#">titre</a></h3>
                    <p class="card-texte">
                        <time datetime="2025-05-25 18:00:00">
                            <i class="calendrier">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="120 -880 720 800" width="720px" height="800px" aria-hidden="true">
                              <path d="M580-240q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z" transform="matrix(0.9999999999999999, 0, 0, 0.9999999999999999, -7.105427357601002e-15, 0)"/>
                            </svg>
                        </i>Jeudi 25 mai à 18h00</time>
                        texte
                    </p>
                </div>
            </article>

            <article class="col-sm-6 col-lg-4">
                <div class="card">
                    <img class="card-image" src="#CHEMIN{images/test.jpg}" alt="test">
                    <h3 class="card-titre">Un titre super log pour voir ce que ça donne</h3>
                    <p class="card-texte">texte</p>
                </div>
            </article>

            <article class="col-sm-6 col-lg-4">
                <div class="card">
                    <img class="card-image" src="#CHEMIN{images/test.jpg}" alt="test">
                    <h3 class="card-titre">titre</h3>
                    <p class="card-texte">texte</p>
                </div>
            </article>    
            
        </div>
    </div>
</section>

<section>
    <div class="container wow fadeInRight" data-wow-delay="0.5s">
        <h2>Programme Groupes</h2>

        <article class="fiche">
            <div class="row">
                <div class="col-lg-6">
                    <figure class="fiche-image-bg" style="background-image: url(#CHEMIN{images/test.jpg});">
                        <img class="fiche-image" src="#CHEMIN{images/test.jpg}" alt="test">
                    </figure>
                    
                </div>
                <div class="col-lg-6">
                    <h3 class="fiche-titre">Titre un peu long pour voir</h3>
                    <p class="fiche-texte">Texte onsectetur <a href="#">adipisicing elit</a>. Nobis minus p</p>
                    <ul class="items">
                        <li><a href="#"><time><i class="calendrier"><svg xmlns="http://www.w3.org/2000/svg" viewBox="120 -880 720 800" width="720px" height="800px" aria-hidden="true">
                            <path d="M580-240q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z" transform="matrix(0.9999999999999999, 0, 0, 0.9999999999999999, -7.105427357601002e-15, 0)"/>
                          </svg></i>samedi 18h00</time></a> <a href="#"><i class="marker"></i>Place Bézier</a></li>
                        <li><a href="#"><time><i class="calendrier"></i>dimanche 16h00</time></a> <a href="#"><i class="marker"></i>Place des pêcheurs</a></li>
                    </ul>

                    <div class="sociaux sociaux_themed">
                        <ul class="sociaux__list sociaux-list">
                            
                            <li class="sociaux__item">
                                <a href="https://www.facebook.com/GrandMachinChose" class="sociaux__link spip_out external facebook" rel="external" title="Facebook du Grand Machin Chose" lang="fr">
                                     
                                    <span class="sociaux__icon socicon socicon-facebook"></span>
                                    
                                    <span class="sociaux__name name" aria-hidden="true" focusable="false">Facebook du Grand Machin Chose</span>
                                </a>
                            </li>
                            
                            <li class="sociaux__item">
                                <a href="https://www.instagram.com/le_grand_machin_chose" class="sociaux__link spip_out external instagram" rel="external" title="Instagram du Grand Machin Chose" lang="fr">
                                     
                                    <span class="sociaux__icon socicon socicon-instagram"></span>
                                    
                                    <span class="sociaux__name name" aria-hidden="true" focusable="false">Instagram du Grand Machin Chose</span>
                                </a>
                            </li>
                            
                            <li class="sociaux__item">
                                <a href="" class="sociaux__link spip_out external internet" rel="external" title="Site web du Grand Machin Chose" lang="fr">
                                     
                                    <span class="sociaux__icon socicon socicon-internet"></span>
                                    
                                    <span class="sociaux__name name" aria-hidden="true" focusable="false">Site web du Grand Machin Chose</span>
                                </a>
                            </li>
                            
                            <li class="sociaux__item">
                                <a href="https://mastodon.social/@zzzazzz" class="sociaux__link spip_out external mastodon" rel="external" title="Le mastodon du truc" lang="fr">
                                     
                                    <span class="sociaux__icon socicon socicon-mastodon"></span>
                                    
                                    <span class="sociaux__name name" aria-hidden="true" focusable="false">Le mastodon du truc</span>
                                </a>
                            </li>
                            
                            <li class="sociaux__item">
                                <a href="https://x.comtruc" class="sociaux__link spip_out external x" rel="external" title="le reseau X de truc" lang="fr">
                                     
                                    <span class="sociaux__icon socicon socicon-x"></span>
                                    
                                    <span class="sociaux__name name" aria-hidden="true" focusable="false">le reseau X de truc</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>                    
                </div>

            </div>
        </article>

        <p>Lorem ipsum dolor sit, amet consectetur <a href="#">adipisicing elit</a>. Nobis minus porro dolorem saepe quod similique laboriosam architecto! Odit quas facilis officia aspernatur placeat tempora quisquam laudantium ab veniam illo. Tempore!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis minus porro dolorem saepe quod similique laboriosam architecto! Odit quas facilis officia aspernatur placeat tempora quisquam laudantium ab veniam illo. Tempore!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis minus porro dolorem saepe quod similique laboriosam architecto! Odit quas facilis officia aspernatur placeat tempora quisquam laudantium ab veniam illo. Tempore!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis minus porro dolorem saepe quod similique laboriosam architecto! Odit quas facilis officia aspernatur placeat tempora quisquam laudantium ab veniam illo. Tempore!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis minus porro dolorem saepe quod similique laboriosam architecto! Odit quas facilis officia aspernatur placeat tempora quisquam laudantium ab veniam illo. Tempore!</p>
        </div>
</section>

<section>
    <div class="container wow fadeInUp" data-wow-delay="0.5s">
        <h2>La carte</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis minus porro dolorem saepe quod similique laboriosam architecto! Odit quas facilis officia aspernatur placeat tempora quisquam laudantium ab veniam illo. Tempore!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis minus porro dolorem saepe quod similique laboriosam architecto! Odit quas facilis officia aspernatur placeat tempora quisquam laudantium ab veniam illo. Tempore!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis minus porro dolorem saepe quod similique laboriosam architecto! Odit quas facilis officia aspernatur placeat tempora quisquam laudantium ab veniam illo. Tempore!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis minus porro dolorem saepe quod similique laboriosam architecto! Odit quas facilis officia aspernatur placeat tempora quisquam laudantium ab veniam illo. Tempore!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis minus porro dolorem saepe quod similique laboriosam architecto! Odit quas facilis officia aspernatur placeat tempora quisquam laudantium ab veniam illo. Tempore!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis minus porro dolorem saepe quod similique laboriosam architecto! Odit quas facilis officia aspernatur placeat tempora quisquam laudantium ab veniam illo. Tempore!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis minus porro dolorem saepe quod similique laboriosam architecto! Odit quas facilis officia aspernatur placeat tempora quisquam laudantium ab veniam illo. Tempore!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis minus porro dolorem saepe quod similique laboriosam architecto! Odit quas facilis officia aspernatur placeat tempora quisquam laudantium ab veniam illo. Tempore!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis minus porro dolorem saepe quod similique laboriosam architecto! Odit quas facilis officia aspernatur placeat tempora quisquam laudantium ab veniam illo. Tempore!</p>
        </div>
</section>

<section>
    <div class="container">
        <h2 class="animate wow fadeInUp" data-wow-delay="0.2s">Programme à télécharger</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis minus porro dolorem saepe quod similique laboriosam architecto! Odit quas facilis officia aspernatur placeat tempora quisquam laudantium ab veniam illo. Tempore!</p>
        </div>
</section>