[(#REM)
	Head standard de toutes les pages ;
	les elements specifiques (title, description) figurent dans chaque squelette
 
]
<meta http-equiv="Content-Type" content="text/html; charset=#CHARSET" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

[(#REM) Lien vers le flux RSS du site ]
[<link rel="alternate" type="application/rss+xml" title="<:syndiquer_site:>" href="(#URL_PAGE{backend})" />]
 

[(#REM) 2. Style SPIP et ses plugins 
[<link rel="stylesheet" href="(#CHEMIN{css/spip.css}|direction_css|timestamp)" type="text/css" />]]

#INSERT_HEAD_CSS

[(#REM) 3. Vos feuilles de style pour l'habillage du site a) theme, b) variante, c) specifique ]
[(#CONFIG{lvr/edition}|?{
	[<link rel="stylesheet" href="(#CHEMIN{[css/lvr_(#CONFIG{lvr/edition}|choix_edition{titre}).css]}|direction_css|timestamp)" type="text/css" />]
	,
	[<link rel="stylesheet" href="(#CHEMIN{css/lvr_institutionnel.css}|direction_css|timestamp)" type="text/css" />]
})]

[(#REM)
	Balise permettant aux plugins d'inserer des appels javascript ;
	4. C'est ici que SPIP va inserer l'appel de la librairie jQuery
	5. Et appeler a la fin compacte_head pour agreger et compacter tout le head dans des fichiers statiques si l'option est cochee dans Configuration
]
#INSERT_HEAD

[(#REM) 6. Vos scripts ]
[<script src="(#CHEMIN{js/script.js}|timestamp)" type="text/javascript"></script>]

[(#REM) Fierement fabrique avec SPIP ]
[<meta name="generator" content="SPIP (#SPIP_VERSION|header_silencieux)" />]

[(#REM) Favicon ]
[<link rel="icon" type="image/x-icon" href="(#CHEMIN{favicon.ico})" />
[<link rel="shortcut icon" type="image/x-icon" href="(#CHEMIN{favicon.ico})" />]]

[(#REM) meta robots ]
[<meta name="robots" content="(#ENV{robots})" />]
